Repository dragonfruitnetwork/dragon6-api, pull requests merged in 2020-10, with the labels that each got.

#114 Update Discord URL (for the badge)
  README.md
Labels: documentation

#113 add contribution guidelines
  CONTRIBUTING.md
  README.md
Labels: documentation

#118 Cleanup Endpoints and other classes
  DragonFruit.Six.API.Tests.Common/Dragon6DemoClient.cs
  DragonFruit.Six.API/Data/Deserializers/AccountInfoDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/AccountLoginInfoDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/OperatorStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/PlayerLevelStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/SeasonStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/TokenDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/WeaponStatsDeserializer.cs
  DragonFruit.Six.API/Data/Extensions/AccountLoginInfoExtensions.cs
  DragonFruit.Six.API/Data/Extensions/GeneralStatsExtentions.cs
  DragonFruit.Six.API/Data/Requests/AccountLoginInfoRequests.cs
  DragonFruit.Six.API/Data/Requests/Base/BasicStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/PlayerLevelStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/SeasonStatsRequest.cs
  DragonFruit.Six.API/Dragon6Client.cs
  DragonFruit.Six.API/Endpoints.cs
  DragonFruit.Six.API/Helpers/PlatformParser.cs
  DragonFruit.Six.API/Helpers/UbisoftIdentifiers.cs
Labels: cleanup

#111 Remove obsolete dictionaries
  DragonFruit.Six.API/References.cs
Labels: cleanup

#121 converted Dictionaries into one function that returns an object of Ra…
  DragonFruit.Six.API/References.cs
Labels: cleanup

#136 remove duplicated entries and add missing overall stats key
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/Requests/GeneralStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/OverallMultiplayer.cs
Labels: cleanup

#140 Remove unused key
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/GeneralStats.cs
  DragonFruit.Six.API/Data/Strings/General.cs
Labels: cleanup

#142 Add total blindkills
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/GeneralStats.cs
  DragonFruit.Six.API/Data/Requests/GeneralStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/General.cs
Labels: stats-general

#143 add DBNO assists
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/GeneralStats.cs
  DragonFruit.Six.API/Data/Requests/GeneralStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/General.cs
Labels: stats-general

#144 add operator experience gained
  DragonFruit.Six.API/Data/Deserializers/OperatorStatsDeserializer.cs
  DragonFruit.Six.API/Data/OperatorStats.cs
  DragonFruit.Six.API/Data/Requests/OperatorStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/Operator.cs
Labels: stats-operator

#141 add total distance travelled
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/GeneralStats.cs
  DragonFruit.Six.API/Data/Requests/GeneralStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/General.cs
Labels: enhancement, stats-general

#145 add total experience gained
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/GeneralStats.cs
  DragonFruit.Six.API/Data/Requests/GeneralStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/General.cs
Labels: stats-general

#147 cleanup strings for deserializing
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/OperatorStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/WeaponStatsDeserializer.cs
  DragonFruit.Six.API/Data/OperatorStats.cs
  DragonFruit.Six.API/Data/Requests/AccountLoginInfoRequests.cs
  DragonFruit.Six.API/Data/Requests/GeneralStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/OperatorDataRequest.cs
  DragonFruit.Six.API/Data/Requests/OperatorInfoRequest.cs
  DragonFruit.Six.API/Data/Requests/OperatorStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/General.cs
  DragonFruit.Six.API/Data/Strings/GeneralCasual.cs
  DragonFruit.Six.API/Data/Strings/GeneralRanked.cs
  DragonFruit.Six.API/Data/Strings/GeneralTraining.cs
  DragonFruit.Six.API/Data/Strings/ModeBomb.cs
  DragonFruit.Six.API/Data/Strings/ModeHostage.cs
  DragonFruit.Six.API/Data/Strings/ModeSecure.cs
  DragonFruit.Six.API/Data/Strings/Modes.cs
  DragonFruit.Six.API/Data/Strings/Operator.cs
  DragonFruit.Six.API/Data/Strings/OverallMultiplayer.cs
  DragonFruit.Six.API/Data/Strings/Weapon.cs
  DragonFruit.Six.API/Utils/OperatorData.cs
  DragonFruit.Six.API/Utils/UbisoftIdentifiers.cs
Labels: breaking, cleanup, stats-general, stats-operator

#148 Convert properties of subclasses of "strings" to getters
  DragonFruit.Six.API/Data/Strings/Accounts.cs
  DragonFruit.Six.API/Data/Strings/General.cs
  DragonFruit.Six.API/Data/Strings/GeneralCasual.cs
  DragonFruit.Six.API/Data/Strings/GeneralRanked.cs
  DragonFruit.Six.API/Data/Strings/GeneralTraining.cs
  DragonFruit.Six.API/Data/Strings/Login.cs
  DragonFruit.Six.API/Data/Strings/Misc.cs
  DragonFruit.Six.API/Data/Strings/Modes.cs
  DragonFruit.Six.API/Data/Strings/Operator.cs
  DragonFruit.Six.API/Data/Strings/Seasonal.cs
  DragonFruit.Six.API/Data/Strings/Weapon.cs
  DragonFruit.Six.API/Endpoints.cs
Labels: cleanup, stats-general, stats-operator, stats-seasonal, tokens

#154 refactor accountlogininfo
  DragonFruit.Six.API/Data/AccountActivity.cs
  DragonFruit.Six.API/Data/Deserializers/AccountActivityDeserializer.cs
  DragonFruit.Six.API/Data/Extensions/AccountActivityExtensions.cs
  DragonFruit.Six.API/Data/Requests/AccountActivityRequest.cs
  DragonFruit.Six.API/Data/Strings/Activity.cs
Labels: breaking, cleanup

#155 Add more weapon stats
  DragonFruit.Six.API.sln.DotSettings
  DragonFruit.Six.API/Data/Deserializers/WeaponStatsDeserializer.cs
  DragonFruit.Six.API/Data/Requests/WeaponStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/Weapon.cs
  DragonFruit.Six.API/Data/WeaponStats.cs
  DragonFruit.Six.API/Enums/WeaponType.cs
  DragonFruit.Six.API/References.cs
Labels: breaking, stats-weapon

#158 refactor and remove dictionaries for switches
  DragonFruit.Six.API/Verification/AccountType.cs
  DragonFruit.Six.API/Verification/AccountTypeExtensions.cs
  DragonFruit.Six.API/Verification/Dragon6AccountInfo.cs
  DragonFruit.Six.API/Verification/LevelInfo.cs
Labels: cleanup

#159 add mode specific stats
  DragonFruit.Six.API/Data/Containers/ModeStatsContainer.cs
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/GeneralStats.cs
  DragonFruit.Six.API/Data/Requests/GeneralStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/Modes.cs
Labels: enhancement, stats-general

#162 add MaxRank info to seasonal stats
  DragonFruit.Six.API/Data/Deserializers/SeasonStatsDeserializer.cs
  DragonFruit.Six.API/Data/SeasonStats.cs
Labels: cleanup, stats-seasonal

#164 add ubisoft ip address tools
  DragonFruit.Six.API.Demo/Program.cs
  DragonFruit.Six.API.Tests/Tests/UbisoftToolsTests.cs
  DragonFruit.Six.API/Data/Extensions/UserLocationInfoExtensions.cs
  DragonFruit.Six.API/Data/Requests/UserLocationInfoRequest.cs
  DragonFruit.Six.API/Data/UserLocationInfo.cs
Labels: enhancement, ubisoft-utils

#163 remove AssemblyInfo with false version numbers
  DragonFruit.Six.API/Properties/AssemblyInfo.cs
Labels: bug, ci

#165 Add jsonproperties to weapon and operator stats
  DragonFruit.Six.API/Data/OperatorStats.cs
  DragonFruit.Six.API/Data/WeaponStats.cs
  DragonFruit.Six.API/Utils/OperatorData.cs
Labels: cleanup, stats-operator, stats-weapon

#167 add a set of interfaces for kd and wl based stats
  DragonFruit.Six.API/Data/Containers/ModeStatsContainer.cs
  DragonFruit.Six.API/Data/Containers/PlaylistStatsContainer.cs
  DragonFruit.Six.API/Data/Interfaces/IHasKd.cs
  DragonFruit.Six.API/Data/Interfaces/IHasWl.cs
  DragonFruit.Six.API/Data/OperatorStats.cs
  DragonFruit.Six.API/Data/SeasonStats.cs
  DragonFruit.Six.API/Data/StatsBase.cs
  DragonFruit.Six.API/Data/WeaponStats.cs
Labels: cleanup
