Repository dragonfruitnetwork/dragon6-api, pull requests merged in 2020-03, with the labels that each got.

#47 Fix Operator KD/WL
  DragonFruit.Six.API/DragonFruit.Six.API.csproj
  DragonFruit.Six.API/Processing/Strings.cs
  README.md
Labels: bug, stats

#43 Add missing ranked stats
  DragonFruit.Six.API.Demo/Program.cs
  DragonFruit.Six.API.Tests/AccountInfoTests.cs
  DragonFruit.Six.API.Tests/TestData.cs
  DragonFruit.Six.API.sln.DotSettings
  DragonFruit.Six.API/AccountInfo.cs
  DragonFruit.Six.API/Endpoints.cs
  DragonFruit.Six.API/Enums/LookupMethod.cs
  DragonFruit.Six.API/Enums/MatchResult.cs
  DragonFruit.Six.API/Enums/OperatorType.cs
  DragonFruit.Six.API/Enums/Platforms.cs
  DragonFruit.Six.API/Enums/Regions.cs
  DragonFruit.Six.API/Helpers/PlatformParser.cs
  DragonFruit.Six.API/Helpers/d6WebRequest.cs
  DragonFruit.Six.API/Processing/RawConvert.cs
  DragonFruit.Six.API/Processing/Strings.cs
  DragonFruit.Six.API/References.cs
  DragonFruit.Six.API/Stats/LoginInfo.cs
  DragonFruit.Six.API/Stats/OperatorStats.cs
  DragonFruit.Six.API/Stats/SeasonalStats.cs
Labels: enhancement, ranked, stats

#49 add auto deploy script
  .travis.yml
  Nuget.ps1
Labels: ci, cleanup, enhancement

#51 Add new Rank dictionaries
  DragonFruit.Six.API/DragonFruit.Six.API.csproj
  DragonFruit.Six.API/Processing/RawConvert.cs
  DragonFruit.Six.API/Processing/Strings.cs
  DragonFruit.Six.API/Properties/AssemblyInfo.cs
  DragonFruit.Six.API/References.cs
  DragonFruit.Six.API/Stats/SeasonalStats.cs
Labels: enhancement, ranked

#52 Rename THunt to Training
  DragonFruit.Six.API/Processing/RawConvert.cs
  DragonFruit.Six.API/Stats/PlayerStats.cs
Labels: cleanup, stats

#56 add custom serializer to override the serialize function to allow raw…
  DragonFruit.Six.API/Clients/UbisoftAuthClient.cs
  DragonFruit.Six.API/Helpers/UbisoftAuthClientSerializer.cs
Labels: bug

#57 fix broken token client
  DragonFruit.Six.API/Data/Requests/TokenRequest.cs
  DragonFruit.Six.API/DragonFruit.Six.API.csproj
  DragonFruit.Six.API/Helpers/UbisoftAuthClientSerializer.cs
Labels: bug, client

#58 refactor rankedseasonstats to seasonstats
  DragonFruit.Six.API/Data/Deserializers/RankedSeasonStatsDeserializer.cs
  DragonFruit.Six.API/Data/Extensions/SeasonStatsExtensions.cs
  DragonFruit.Six.API/Data/OperatorStats.cs
  DragonFruit.Six.API/Data/Requests/SeasonStatsRequest.cs
  DragonFruit.Six.API/Data/SeasonStats.cs
Labels: breaking, cleanup

#59 add multiple ubisoft appids for easy switching
  DragonFruit.Six.API/Clients/Dragon6Client.cs
  DragonFruit.Six.API/Clients/UbisoftAuthClient.cs
  DragonFruit.Six.API/Enums/UbisoftService.cs
  DragonFruit.Six.API/Helpers/UbisoftIdentifiers.cs
  DragonFruit.Six.API/References.cs
Labels: client

#60 fix broken operator gadget stats
  DragonFruit.Six.API/Data/Requests/OperatorStatsRequest.cs
Labels: bug, stats

#61 Bump common libraries
  DragonFruit.Six.API.Demo/Dragon6DemoClient.cs
  DragonFruit.Six.API.Tests/Dragon6TestClient.cs
  DragonFruit.Six.API/DragonFruit.Six.API.csproj
Labels: client

#62 add abandons to seasonal wl
  DragonFruit.Six.API/Data/Deserializers/SeasonStatsDeserializer.cs
Labels: ranked, stats
