Repository dragonfruitnetwork/dragon6-api, pull requests merged in 2020-12, with the labels that each got.

#181 Add prefixes to classic stats
  DragonFruit.Six.API.Demo/Program.cs
  DragonFruit.Six.API.Tests.Common/TestData.cs
  DragonFruit.Six.API.Tests/Tests/StatsTests.cs
  DragonFruit.Six.API/Data/AccountActivity.cs
  DragonFruit.Six.API/Data/AccountInfo.cs
  DragonFruit.Six.API/Data/ClassicOperatorStats.cs
  DragonFruit.Six.API/Data/ClassicStats.cs
  DragonFruit.Six.API/Data/ClassicWeaponStats.cs
  DragonFruit.Six.API/Data/Containers/ActivityDates.cs
  DragonFruit.Six.API/Data/Containers/ModeStatsContainer.cs
  DragonFruit.Six.API/Data/Containers/PlaylistStats.cs
  DragonFruit.Six.API/Data/Containers/UserIdentifiers.cs
  DragonFruit.Six.API/Data/Deserializers/AccountActivityDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/AccountInfoDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/ClassicOperatorStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/ClassicStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/ClassicWeaponStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/OperatorStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/TokenDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/WeaponStatsDeserializer.cs
  DragonFruit.Six.API/Data/Extensions/ClassicOperatorStatsExtensions.cs
  DragonFruit.Six.API/Data/Extensions/ClassicStatsExtentions.cs
  DragonFruit.Six.API/Data/Extensions/ClassicWeaponStatsExtensions.cs
  DragonFruit.Six.API/Data/Extensions/OperatorStatsExtensions.cs
  DragonFruit.Six.API/Data/Requests/AccountActivityRequest.cs
  DragonFruit.Six.API/Data/Requests/AccountInfoRequest.cs
  DragonFruit.Six.API/Data/Requests/Base/ClassicPlatformSpecificRequest.cs
  DragonFruit.Six.API/Data/Requests/Base/ClassicStatsRequestBase.cs
  DragonFruit.Six.API/Data/Requests/Base/PlatformSpecificRequest.cs
  DragonFruit.Six.API/Data/Requests/ClassicOperatorDataRequest.cs
  DragonFruit.Six.API/Data/Requests/ClassicOperatorStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/ClassicStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/ClassicWeaponStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/GeneralStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/OperatorStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/PlayerLevelStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/SeasonStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/ServerStatusRequest.cs
  DragonFruit.Six.API/Data/Requests/UserLocationInfoRequest.cs
  DragonFruit.Six.API/Data/Strings/Classic.cs
  DragonFruit.Six.API/Data/Strings/ClassicCasual.cs
  DragonFruit.Six.API/Data/Strings/ClassicModes.cs
  DragonFruit.Six.API/Data/Strings/ClassicOperator.cs
  DragonFruit.Six.API/Data/Strings/ClassicRanked.cs
  DragonFruit.Six.API/Data/Strings/ClassicTraining.cs
  DragonFruit.Six.API/Data/Strings/ClassicWeapon.cs
  DragonFruit.Six.API/DragonFruit.Six.API.csproj
  DragonFruit.Six.API/Utils/OperatorData.cs
  README.md
Labels: breaking, cleanup, stats-general, stats-mode, stats-operator, stats-weapon, ubisoft

#182 Update developer client to be a Dragon6Client
  DragonFruit.Six.API.Tests.Common/Dragon6DemoClient.cs
  DragonFruit.Six.API/Data/Extensions/UbisoftTokenExtensions.cs
  DragonFruit.Six.API/Developer/Auth/DeveloperSessionRequest.cs
  DragonFruit.Six.API/Developer/Auth/DeveloperTokenRequest.cs
  DragonFruit.Six.API/Developer/Auth/DeveloperTokenResponse.cs
  DragonFruit.Six.API/Developer/DeveloperApiRequest.cs
  DragonFruit.Six.API/Developer/Dragon6DeveloperClient.cs
  DragonFruit.Six.API/Developer/Extensions/DeveloperClientExtensions.cs
  DragonFruit.Six.API/Dragon6Client.cs
Labels: breaking

#184 Remove distance travelled overall stat
  DragonFruit.Six.API/Data/ClassicStats.cs
  DragonFruit.Six.API/Data/Deserializers/ClassicStatsDeserializer.cs
  DragonFruit.Six.API/Data/Requests/ClassicStatsRequest.cs
  DragonFruit.Six.API/Data/Strings/Classic.cs
  DragonFruit.Six.API/Utils/MathUtils.cs
Labels: breaking, bug, stats-general

#193 update data library
  DragonFruit.Six.API/Data/Requests/TokenRequest.cs
  DragonFruit.Six.API/Dragon6Client.cs
  DragonFruit.Six.API/DragonFruit.Six.API.csproj
Labels: dependencies

#192 added new method for setting token and decapitalized authorization st…
  DragonFruit.Six.API/Dragon6Client.cs
Labels: area:client, ubisoft-infrastructure

#195 added new methods to get user by id and name also changed GetUser to …
  DragonFruit.Six.API/Data/Extensions/AccountInfoExtensions.cs
Labels: area:extensions

#196 Changed the filenames as well
  DragonFruit.Six.API.Demo/Program.cs
  DragonFruit.Six.API.Tests/Tests/StatsTests.cs
  DragonFruit.Six.API/Data/Deserializers/ClassicOperatorStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/ClassicStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/ClassicWeaponStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/OperatorStatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/StatsDeserializer.cs
  DragonFruit.Six.API/Data/Deserializers/WeaponStatsDeserializer.cs
  DragonFruit.Six.API/Data/Extensions/ClassicOperatorStatsExtensions.cs
  DragonFruit.Six.API/Data/Extensions/OperatorStatsExtensions.cs
  DragonFruit.Six.API/Data/Extensions/StatsExtentions.cs
  DragonFruit.Six.API/Data/Extensions/WeaponStatsExtensions.cs
  DragonFruit.Six.API/Data/OperatorStats.cs
  DragonFruit.Six.API/Data/Requests/Base/PlatformSpecificRequest.cs
  DragonFruit.Six.API/Data/Requests/Base/StatsRequestBase.cs
  DragonFruit.Six.API/Data/Requests/ClassicOperatorStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/ClassicStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/OperatorDataRequest.cs
  DragonFruit.Six.API/Data/Requests/OperatorStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/PlayerLevelStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/SeasonStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/StatsRequest.cs
  DragonFruit.Six.API/Data/Requests/WeaponStatsRequest.cs
  DragonFruit.Six.API/Data/Stats.cs
  DragonFruit.Six.API/Data/Strings/Casual.cs
  DragonFruit.Six.API/Data/Strings/General.cs
  DragonFruit.Six.API/Data/Strings/Modes.cs
  DragonFruit.Six.API/Data/Strings/Operator.cs
  DragonFruit.Six.API/Data/Strings/Ranked.cs
  DragonFruit.Six.API/Data/Strings/Training.cs
  DragonFruit.Six.API/Data/Strings/Weapon.cs
  DragonFruit.Six.API/Data/WeaponStats.cs
  DragonFruit.Six.API/Utils/OperatorData.cs
  README.md
Labels: area:code-quality, area:extensions, area:requests, area:stats, type:cleanup

#197 refactor incorrect name
  DragonFruit.Six.API/Data/Deserializers/GeneralStatsDeserializer.cs
  DragonFruit.Six.API/Data/Extensions/StatsExtentions.cs
  DragonFruit.Six.API/Data/GeneralStats.cs
  DragonFruit.Six.API/Data/Requests/Base/BasicStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/OperatorStatsRequest.cs
  DragonFruit.Six.API/Data/Requests/StatsRequest.cs
  DragonFruit.Six.API/Data/Requests/WeaponStatsRequest.cs
Labels: area:stats, type:bug

#199 make ratioutils public
  DragonFruit.Six.API/Utils/RatioUtils.cs
Labels: area:tooling

#198 mark operatortype as a flag enum
  DragonFruit.Six.API/Enums/OperatorType.cs
Labels: area:stats-operator

#200 add session id to tokens
  DragonFruit.Six.API/Data/Tokens/Dragon6Token.cs
  DragonFruit.Six.API/Data/Tokens/TokenBase.cs
  DragonFruit.Six.API/Data/Tokens/UbisoftToken.cs
Labels: area:authentication, ubisoft-infrastructure

#202 Re-write tests
  .github/workflows/tests.yaml
  DragonFruit.Six.API.Demo/DragonFruit.Six.API.Demo.csproj
  DragonFruit.Six.API.Demo/Program.cs
  DragonFruit.Six.API.Tests.Common/DragonFruit.Six.API.Tests.Common.csproj
  DragonFruit.Six.API.Tests.Common/TestData.cs
  DragonFruit.Six.API.Tests/Data/AccountActivityTests.cs
  DragonFruit.Six.API.Tests/Data/AccountLookupTests.cs
  DragonFruit.Six.API.Tests/Data/GeneralStatsTests.cs
  DragonFruit.Six.API.Tests/Data/SeasonalStatsTests.cs
  DragonFruit.Six.API.Tests/Dragon6ApiTest.cs
  DragonFruit.Six.API.Tests/Dragon6TestClient.cs
  DragonFruit.Six.API.Tests/DragonFruit.Six.API.Tests.csproj
  DragonFruit.Six.API.Tests/TestBase.cs
  DragonFruit.Six.API.Tests/Tests/AccountInfoTests.cs
  DragonFruit.Six.API.Tests/Tests/StatsTests.cs
  DragonFruit.Six.API.Tests/Tests/UbisoftToolsTests.cs
  DragonFruit.Six.API.Tests/Utils/IpInfoTests.cs
  DragonFruit.Six.API.Tests/Utils/OperatorInfoTests.cs
  DragonFruit.Six.API.Tests/Utils/PlatformParserTests.cs
  DragonFruit.Six.API.Tests/Utils/RatioUtilTests.cs
  DragonFruit.Six.API.Tests/Utils/ServerStatusTests.cs
  DragonFruit.Six.API.sln
  DragonFruit.Six.API/Data/Deserializers/OperatorStatsDeserializer.cs
  DragonFruit.Six.API/Data/Extensions/AccountInfoExtensions.cs
  DragonFruit.Six.API/Data/Extensions/OperatorStatsExtensions.cs
  DragonFruit.Six.API/Data/Extensions/SeasonStatsExtensions.cs
  DragonFruit.Six.API/Data/Extensions/StatsExtentions.cs
  DragonFruit.Six.API/Dragon6Client.cs
Labels: area:code-quality, area:response, area:tests
